<a href="https://colab.research.google.com/github/jharilal/candlestick_analysis/blob/main/Candlestick_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Technical Indicator Analysis
 - How accurate are technical indicators in predicting stock price movement for the top 100 / 500 companies over the past 5 years?
 - Does the industry / sub industry demonstrate a different amount of success with indicators?
 - Analyze the popular, single candle-stick indicators - Hammer /  Long Legged Doji / Shooting Star / Hangman / Gravestone / Dragonfly
 - Build this in a way such that it's possible to expand on the technical indicator of analysis
 - How often do these indicators occur?

 These questions help answer the measurable reliability of using these indicators to influence trading decisions.

In [ ]:
!pip install yahoofinance
!pip install yfinance

Requirement already satisfied: yahoofinance in /usr/local/lib/python3.7/dist-packages (0.0.2)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.7/dist-packages (from yahoofinance) (1.3.5)
Requirement already satisfied: beautifulsoup4>=4.6.3 in /usr/local/lib/python3.7/dist-packages (from yahoofinance) (4.6.3)
Requirement already satisfied: requests>=2.20.1 in /usr/local/lib/python3.7/dist-packages (from yahoofinance) (2.27.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->yahoofinance) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->yahoofinance) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->yahoofinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.4->yahoofinance) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20.1->yahoofinance) (2.0.11)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20.1->yahoofinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20.1->yahoofinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20.1->yahoofinance) (2.10)
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.7.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.11)

In [ ]:
import yfinance as yf
import pandas as pd
msft_tick = yf.download('MSFT')

[*********************100%***********************]  1 of 1 completed

In [ ]:
fortune_500_df = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')

In [ ]:
fortune_500_df

[    Symbol            Security  ...      CIK      Founded
 0      MMM                  3M  ...    66740         1902
 1      AOS         A. O. Smith  ...    91142         1916
 2      ABT              Abbott  ...     1800         1888
 3     ABBV              AbbVie  ...  1551152  2013 (1888)
 4     ABMD             Abiomed  ...   815094         1981
 ..     ...                 ...  ...      ...          ...
 500    YUM         Yum! Brands  ...  1041061         1997
 501   ZBRA  Zebra Technologies  ...   877212         1969
 502    ZBH       Zimmer Biomet  ...  1136869         1927
 503   ZION       Zions Bancorp  ...   109380         1873
 504    ZTS              Zoetis  ...  1555280         1952

 [505 rows x 9 columns],
                   Date  ...                                             Reason
                   Date  ...                                             Reason
 0     February 3, 2022  ...                   Market capitalization change.[6]
 1     February 2, 2022  ...  S&P 500 and 100 constituent Exelon Corp. spun ...
 2    December 20, 2021  ...                   Market capitalization change.[7]
 3    December 20, 2021  ...                   Market capitalization change.[7]
 4    December 20, 2021  ...                   Market capitalization change.[7]
 ..                 ...  ...                                                ...
 284   December 5, 2000  ...                                Market Cap changes.
 285   December 5, 2000  ...                                Market Cap changes.
 286   December 5, 2000  ...                                Market Cap changes.
 287      July 27, 2000  ...                            Market Cap change.[223]
 288   December 7, 1999  ...                 Market capitalization change.[224]

 [289 rows x 6 columns]]

In [ ]:
f500 = fortune_500_df[0]

In [ ]:
f500

    Symbol            Security  ...      CIK      Founded
0      MMM                  3M  ...    66740         1902
1      AOS         A. O. Smith  ...    91142         1916
2      ABT              Abbott  ...     1800         1888
3     ABBV              AbbVie  ...  1551152  2013 (1888)
4     ABMD             Abiomed  ...   815094         1981
..     ...                 ...  ...      ...          ...
500    YUM         Yum! Brands  ...  1041061         1997
501   ZBRA  Zebra Technologies  ...   877212         1969
502    ZBH       Zimmer Biomet  ...  1136869         1927
503   ZION       Zions Bancorp  ...   109380         1873
504    ZTS              Zoetis  ...  1555280         1952

[505 rows x 9 columns]

In [ ]:
fb_info = f500[f500['Symbol']=='FB']

In [ ]:
fb_info

    Symbol        Security SEC filings  ... Date first added      CIK Founded
311     FB  Meta Platforms     reports  ...       2013-12-23  1326801    2004

[1 rows x 9 columns]

In [ ]:
ticker_sec_gics = pd.DataFrame()
ticker_sec_gics = f500[['Symbol','Security','GICS Sector', 'GICS Sub-Industry']]

In [ ]:
ticker = ticker_sec_gics['Symbol'].to_list()

In [ ]:
ticker

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ABMD',
 'ACN',
 'ATVI',
 'ADM',
 'ADBE',
 'ADP',
 'AAP',
 'AES',
 'AFL',
 'A',
 'AIG',
 'APD',
 'AKAM',
 'ALK',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AMD',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AMT',
 'AWK',
 'AMP',
 'ABC',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'ANTM',
 'AON',
 'APA',
 'AAPL',
 'AMAT',
 'APTV',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'AZO',
 'AVB',
 'AVY',
 'BKR',
 'BLL',
 'BAC',
 'BBWI',
 'BAX',
 'BDX',
 'BRK.B',
 'BBY',
 'BIO',
 'TECH',
 'BIIB',
 'BLK',
 'BK',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'CHRW',
 'CDNS',
 'CZR',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'CNC',
 'CNP',
 'CDAY',
 'CERN',
 'CF',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CTXS',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CTVA',
 'COST',
 'CTRA',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHI',
 'DHR',
 'DRI',
 'DVA',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DISCA',
 'DISCK',
 'DISH',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DTE',
 'DUK',
 'DRE',
 'DD',
 'DXC',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ETSY',
 'RE',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FAST',
 'FRT',
 'FDX',
 'FITB',
 'FRC',
 'FE',
 'FIS',
 'FISV',
 'FLT',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FBHS',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GE',
 'GNRC',
 'GD',
 'GIS',
 'GPC',
 'GILD',
 'GL',
 'GPN',
 'GM',
 'GS',
 'GWW',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'PEAK',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUM',
 'HBAN',
 'HII',
 'IEX',
 'IDXX',
 'INFO',
 'ITW',
 'ILMN',
 'INCY',
 'IR',
 'INTC',
 'ICE',
 'IBM',
 'IP',
 'IPG',
 'IFF',
 'INTU',
 'ISRG',
 'IVZ',
 'IPGP',
 'IQV',
 'IRM',
 'JKHY',
 'J',
 'JBHT',
 'SJM',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LLY',
 'LNC',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LUMN',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'FB',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NWL',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NLSN',
 'NKE',
 'NI',
 'NSC',
 'NTRS',
 'NOC',
 'NLOK',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'OKE',
 'ORCL',
 'OGN',
 'OTIS',
 'PCAR',
 'PKG',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PENN',
 'PNR',
 'PBCT',
 'PEP',
 'PKI',
 'PFE',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'PVH',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SEE',
 'SRE',
 'NOW',
 'SHW',
 'SBNY',
 'SPG',
 'SWKS',
 'SNA',
 'SEDG',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STE',
 'SYK',
 'SIVB',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TWTR',
 'TYL',
 'TSN',
 'UDR',
 'ULTA',
 'USB',
 'UAA',
 'UA',
 'UNP',
 'UAL',
 'UNH',
 'UPS',
 'URI',
 'UHS',
 'VLO',
 'VTR',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VFC',
 'VIAC',
 'VTRS',
 'V',
 'VNO',
 'VMC',
 'WRB',
 'WAB',
 'WMT',
 'WBA',
 'DIS',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'WTW',
 'WYNN',
 'XEL',
 'XLNX',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZION',
 'ZTS']

In [ ]:
ticker_sec_gics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Symbol             505 non-null    object
 1   Security           505 non-null    object
 2   GICS Sector        505 non-null    object
 3   GICS Sub-Industry  505 non-null    object
dtypes: object(4)
memory usage: 15.9+ KB

In [ ]:
start_date = '2017-02-09'

In [ ]:
large_df = pd.DataFrame()

In [ ]:
FB_df = yf.download('FB', start=start_date)

[*********************100%***********************]  1 of 1 completed

In [ ]:
FB_df.head()

                  Open        High  ...   Adj Close    Volume
Date                                ...
2017-02-09  134.490005  134.500000  ...  134.139999  16470600
2017-02-10  134.100006  134.940002  ...  134.190002  15061900
2017-02-13  134.699997  134.699997  ...  134.050003  13526200
2017-02-14  134.100006  134.229996  ...  133.850006  14364900
2017-02-15  133.449997  133.699997  ...  133.440002  13226500

[5 rows x 6 columns]

In [ ]:
FB_df_2 = FB_df[['Open', 'High', 'Low', 'Close', 'Volume']]

In [ ]:
temp_ind = str(ticker_sec_gics[ticker_sec_gics['Symbol'] == 'FB']['GICS Sector'])

In [ ]:
curr_ind = int(temp_ind.split()[0])

In [ ]:
ticker_sec_gics.loc[curr_ind]['GICS Sector']

'Communication Services'

In [ ]:
temp_df = pd.DataFrame(columns=['Symbol', 'Security', 'GICS Sector', 'Open', 'Close', 'High', 'Close', 'Volume'])

In [ ]:
temp_df

Empty DataFrame
Columns: [Symbol, Security, GICS Sector, Open, Close, High, Close, Volume]
Index: []

In [ ]:
temp_sec = ticker_sec_gics[ticker_sec_gics['Symbol'] == 'FB']['GICS Sector']

In [ ]:
ticker_sec_gics

'311    Communication Services\nName: GICS Sector, dtype: object'

In [ ]:
FB_df_2.assign(Ticker='FB')
# FB_df_2.assign(Sector=ticker_sec_gics[ticker_sec_gics['Symbol'] == 'FB']['GICS Sector'])

                  Open        High         Low       Close    Volume Ticker
Date
2017-02-09  134.490005  134.500000  133.309998  134.139999  16470600     FB
2017-02-10  134.100006  134.940002  133.679993  134.190002  15061900     FB
2017-02-13  134.699997  134.699997  133.699997  134.050003  13526200     FB
2017-02-14  134.100006  134.229996  132.550003  133.850006  14364900     FB
2017-02-15  133.449997  133.699997  132.660004  133.440002  13226500     FB
...                ...         ...         ...         ...       ...    ...
2022-02-04  234.970001  242.610001  230.110001  237.089996  89203700     FB
2022-02-07  237.699997  238.300003  224.009995  224.910004  88613800     FB
2022-02-08  220.850006  225.770004  216.149994  220.179993  94729700     FB
2022-02-09  224.199997  233.369995  222.210007  232.000000  86460400     FB
2022-02-10  228.270004  234.770004  226.710007  230.869995  29988084     FB

[1261 rows x 6 columns]

In [ ]:
FB_df_2['Ticker']

KeyError: ignored

In [ ]:
class Downtrend:

In [ ]:
class Uptrend:

In [ ]:
class Hammer:
  """Identifies and creates a Hammer Object"""
  def __init__(self):
  def hammer_detect():
    sel

In [ ]:
class ShootingStar:
  """Identifies and creates a ShootingStar Object"""

In [ ]:
class LongLegDoji:

In [ ]:
class Gravestone:

In [ ]:
class Dragonfly: